body{
font-family: helvetica;
background-color: #DFE1C2;
color: #5E5B5B;
}

img{
height: 300px;
width: 300px;
padding: 2em;
margin-left: 7em;
}

h1{
text-align: center;

}

p{

}

#name{
  color: white;
  background-color: #A30000;
  width: 30%;
  margin: auto;
  border-style: solid;
  border-color: #070454;
  border-radius: 7px;
  padding: 6px;
}

#toppings{

}

#drink{
width: 20%;
margin: auto;
font-style: italic;
}

#pizza{
  width: 40%;
  background-color: #070454;
  position: relative;
  bottom: 10em;
  float: right;
  margin-right: 30em;
  border-radius: 7px;
}

.ToppingButton{
  text-align: center;
  color: white;
  width: 10%;
  background-color: #A30000;
  border-style: solid;
  border-color: #070454;
  border-width: medium;
  border-radius: 7px;
  padding: 3px;
  margin-left: 7em;
  margin-top: 2em;
}
